.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.advantages__item {
    background-color: #E8E5DE;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    padding: 20px 30px;
    width: 300px;
    border-radius: 20px;
    display: inline-block;
}

.advantages__span {
    display: block;
}

.advantages__item {
    color: var(--color-black);
    position: relative;
}

.advantages__item:nth-child(n)::before {
    color: rgba(217, 76, 4, 0.7);
    font-size: 40px;
    margin-right: 10px;
}

.advantages__item:nth-child(1)::before {
    content: "1";
}

.advantages__item:nth-child(2)::before {
    content: "2";
}

.advantages__item:nth-child(3)::before {
    content: "3";
}

.advantages__item:nth-child(4)::before {
    content: "4";
}

.advantages__item:nth-child(5)::before {
    content: "5";
}

.advantages__item:nth-child(6)::before {
    content: "6";
}

@media (max-width: 680px) {
    .advantages__list {
        justify-content: center;
    }
}