.form__container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.form__input {
    display: block;
    margin-bottom: 20px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    background: #E8E5DE;
    border: none;
    border-radius: 20px;
    color: #2D2A30;
    font-size: 20px;
    padding: 10px;
}

.form__link {
    text-decoration: underline;
}

.form__label {
    display: block;
    margin-bottom: 20px;
}

.form__text {
    margin-bottom: 40px;
}

@media (max-width: 730px) {
    .form__container {
        justify-content: flex-start;
    }
}


