.foto-cta-second__img {
    height: 90vh;
    object-fit: contain;
}

@media (max-width: 1000px) {
    .foto-cta-second__img {
        height: 100%;
    }
}

@media (max-width: 425px) {
    .foto-cta-second__img {
        min-height: 380px;
    }
}