.header {
    background-color: var(--color-black);
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

.header__container {
    background-color: var(--color-black) !important;

}

.header__par {
    color: var(--color-beige) !important;
}

@media (max-width: 380px) {
    .header__logo {
        width: 170px;
    }
}